*.pyc
.vscode
__pycache__
*.py[cod]
*$py.class
*.db
*.log
pypackages27
pypackages39
build
pyenv.cfg
dist
bin
*.spec
python-3.9.2-embed-amd64
Include
Lib
Scripts
relic_resources.py
resources.py
qtshare