*.pyc
.vscode
__pycache__
*.py[cod]
*$py.class
*.db
*.log
build
pyenv.cfg
dist
*.spec
*.exe
*.lnk
python-3.9.2-embed-amd64
Include
Lib
Scripts
resources.py
resources_rc.py
plugins/Lib39
plugins/Lib37
plugins/Lib27