*.pyc
.vscode
__pycache__
*.py[cod]
*$py.class
*.db
*.log
build
pyenv.cfg
dist
*.spec
*.exe
python-3.9.2-embed-amd64
Include
Lib
Scripts
relic_resources.py
resources.py
qtshare
library/plugins/Lib39
library/plugins/Lib37
library/plugins/Lib27