<style type="text/css">
/* Reset margin top for elements */
h1, h2, h3, h4, h5, h6,
p, ol, ul, pre {
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-top: 1.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 0em;
}
h3, h4, h5, h6 {
	margin-left: 0em; /* 1.5em with padding */
	margin-bottom: 1em;
	background-color: rgb(92, 92, 92);
	font-weight: 600;
}
h1 {
	margin-bottom: 0em;
}
p {
	font-weight: normal;
	margin-top: 0.0em;
	margin-bottom: 1em;
	margin-left: 1.5em;
	margin-right: 1em;
}
ol, li, ul, li {
	margin: 3px;
	padding: 5px 8px;
}
/* Tables */
table {
	border-collapse: collapse;
	margin-top: 1em;
	margin-bottom: 0.5em;
	margin-left: 1.5em;
	margin-right: 1em;
}
/* th = "Table Header", td = "Table Data" (cell) */
th,
td {
	padding: 5px 8px;
    empty-cells: hide;
}
/* Border around table */
td.quote{
	padding: 0px 0px;
	empty-cells: hide;
}

th {
	text-align: left;
	background-color: rgb(68, 68, 68);
}
table > tbody > tr > td,  th {
	border: 1px solid rgb(32,32,32);
}
/* Indented code */
code {
	color: rgb(235, 184, 145);
    background-color: rgb(43, 43, 43);
}
pre {
    background-color: #1d1f20;
	margin-left: 1.5em;
	margin-bottom: 1em;
	padding: 45px;
}
code {
	margin: 0;
	padding: 0 30px;
	display: block;
	background: #1d1f20;
	color: #839496;
	font-size: .85em;
	line-height: 1.6em;
  }
/* Horizontal line*/
hr {
	margin-left: 12px;
	margin-right: 12px;
}

/* Links & Media */
a:link {
  color: rgb(25, 153, 245);
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: rgb(125, 153, 245);
}
blockquote {
    background-color: rgb(25, 153, 245);
	margin-left: 0em;
}
ul.checklist {
	list-style-type: square;
}
</style>