<style type="text/css">
/* Reset margin top for elements */
h1, h2, h3, h4, h5, h6,
p, ol, ul, pre {
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	font-weight: normal;
	margin-bottom: 0.25em;
	margin-left: 12px;
	margin-right: 12px;
}
ol,
ul {
	margin-bottom: 8px;
}
ol li,
ul li {
	margin: 3px;
}

/* Tables */
table {
	border-collapse: collapse;
	margin-top: 0.7em;
	margin-bottom: 0.7em;
	margin-left: 12px;
	margin-right: 12px;
}
table > tbody > tr > td {
	border: 1px solid rgb(32,32,32);
}
/* th = "Table Header", td = "Table Data" (cell) */
th,
td {
	padding: 5px 8px;
}
th {
	text-align: left;
	border: 1px solid rgb(32, 32, 32);
	background-color: rgb(68, 68, 68);
}
/* Indented code */
code {
	color: rgb(223, 184, 145);
    background-color: rgb(48, 48, 48);
	margin: 8px;
}
pre {
    background-color: rgb(48, 48, 48);
	margin-left: 12px;
	margin-right: 12px;
}
/* Horizontal line*/
hr {
	margin: 0.0em;
	margin-left: 12px;
	margin-right: 12px;
}

/* Links & Media */
a:link {
  color: rgb(25, 153, 245);
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: rgb(125, 153, 245);
}

blockquote {
    background-color: rgb(68,68,68);
	margin: 0 3px 0 3px;
	padding: 0 3px 0 3px;
}

</style>